.css_inicio_label { }
.css_inicio_line {text-align:left;}
.css_inicio_obj {text-align:left;}
.css_fim_label { }
.css_fim_line {text-align:left;}
.css_fim_obj {text-align:left;}
.css_cor_fundo_label { }
.css_cor_fundo_line { }
.css_cor_fundo_obj { }
.css_cor_fonte_label { }
.css_cor_fonte_line { }
.css_cor_fonte_obj { }
